<div class="modal fade" id="ana-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header py-2">
        <h5 class="modal-title">Indicador</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
    <div class="notice">
      <span id="helpBlock" class="help-block"></span> 
    </div>
        <ul class="nav nav-pills nav-fill" role="tablist">
          <li class="nav-item">
            <a class="nav-link py-1 active" id="simple-tab" data-toggle="tab" href="#simple" role="tab" aria-controls="simple" aria-selected="true">Simple</a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-1" id="advanced-tab" data-toggle="tab" href="#advanced" role="tab" aria-controls="advanced" aria-selected="false">Avanzado</a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane fade show active" id="simple" role="tabpanel" aria-labelledby="simple-tab">
            <%= render 'simple' %>
          </div>
          <div class="tab-pane fade" id="advanced" role="tabpanel" aria-labelledby="advanced-tab">
            <%= render 'advanced' %>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
