  <div id="error_explanation" style="min-height:30px" >
    <% if resource.errors.any? %>
    <ul class="list-unstyled text-danger mb-0">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    <% end %>
  </div>
