  <div id="error_explanation" style="min-height:30px" >
    	<% flash.each do |name, msg| %>
  			<% if msg.is_a?(String) and msg!=''%>
    			<div class="alert alert-<%= name %>">
      				<a class="close" data-dismiss="alert">&#215;</a>
      					<%= content_tag :div, msg, :class =>"text-dark" ,:id => "flash_#{name}" %>
    			</div>
  			<% end %>
		<% end %>
  </div>