<div class="card m-2 shadow">
  <div class="card-body">
    <div class="row justify-content-center">
      <h2 class="m-0">Importar registros formularios</h2>
    </div>
  </div>
</div>

<%= render 'form' %>
