  <div >
    <% if @geo_edition.errors.any? %>
      <div class="alert alert-danger">
        <ul>
          <% @geo_edition.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% else %>
      <div class="alert alert-success">
        <ul>
          <li>Creado</li>
        </ul>
      </div>
    <% end %>
  </div>
