<div class="card m-2 shadow">
  <div class="card-body p-3">

    <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
      <% if can? :attributes, :edit %>
        <li class="nav-item">
          <a class="nav-link active" id="attributes-tab" data-toggle="tab" href="#attributes" role="tab" aria-controls="attributes" aria-selected="true">Por Atributos</a>
        </li>
      <% end %>
      <li class="nav-item">
        <a class="nav-link" id="file-tab" data-toggle="tab" href="#file" role="tab" aria-controls="file" aria-selected="false">Por Archivos</a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="attributes" role="tabpanel" aria-labelledby="attributes-tab">
        <%= render 'attributes' %>
      </div>
      <div class="tab-pane fade" id="file" role="tabpanel" aria-labelledby="file-tab">
        <%= render 'files' %>
      </div>
    </div>

  </div>
</div>
