<div class="row justify-content-center">
  <label class="col-md-2 text-right col-form-label">Dirección:</label>
  <div class="col-md-4">
    <%=f.select :address, '', {include_blank: ''}, {class: 'form-control form-control-sm'} %>
  </div>
</div>

<div class="row justify-content-center">
  <label class="col-md-2 text-right col-form-label">Departamento:</label>
  <div class="col-md-4">
    <%= f.select :department, '', {include_blank: ''}, {class: 'form-control form-control-sm'} %>
  </div>
</div>

<div class="row justify-content-center">
  <label class="col-md-2 text-right col-form-label">Provincia:</label>
  <div class="col-md-4">
    <%=f.select :province, '', {include_blank: ''}, {class: 'form-control form-control-sm'} %>
  </div>
</div>

<div class="row justify-content-center">
  <label class="col-md-2 text-right col-form-label">País:</label>
  <div class="col-md-4">
    <%= f.select :country, '', {include_blank: ''}, {class: 'form-control form-control-sm'} %>
  </div>
</div>
