<div class="form-group col-md-12">
  <div class="col-md-2 text-right">
    <label>Dirección:</label>
  </div>
  <div class="col-md-3">
    <%=f.select :address, '', {include_blank: ''}, {class: 'form-control'} %>
  </div>
</div>
<div class="form-group col-md-12">
  <div class="col-md-2 text-right">
    <label>Departamento:</label>
  </div>
  <div class="col-md-3">
    <%= f.select :department, '', {include_blank: ''}, {class: 'form-control'} %>
  </div>
</div>
<div class="form-group col-md-12">
  <div class="col-md-2 text-right">
    <label>Provincia:</label>
  </div>
  <div class="col-md-3">
    <%=f.select :province, '', {include_blank: ''}, {class: 'form-control'} %>
  </div>
</div>
<div class="form-group col-md-12">
  <div class="col-md-2 text-right">
    <label>País:</label>
  </div>
  <div class="col-md-3">
    <%= f.select :country, '', {include_blank: ''}, {class: 'form-control'} %>
  </div>
</div>
