<div class="row justify-content-center">
  <label class="col-md-2 text-right col-form-label">Latitud:</label>
  <div class="col-md-4">
    <%=f.select :latitude, '', {include_blank: ''}, {class: 'form-control form-control-sm'} %>
  </div>
</div>

<div class="row justify-content-center">
  <label class="col-md-2 text-right col-form-label">Longitud:</label>
  <div class="col-md-4">
    <%=f.select :longitude, '', {include_blank: ''}, {class: 'form-control form-control-sm'} %>
  </div>
</div>
