<div id="point_colors-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"> Colorear Puntos </h4>
      </div>
      <div class="modal-body">
        <%= form_tag project_type_create_point_colors_path, :remote => true, :method => :get   do |f| %>
        <div class="form-row col-md-12">
          <div class="form-group col-md-10">
            <%=select_tag 'q[project_field]',  options_for_select(region_for_select), class:'proj_field form-control' %>
          </div>
          <div class="form-group col-md-2">
        <%= submit_tag :enviar, id: "filtro", class: "envf btn btn-primary" %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
