<%= form_tag project_type_create_quick_filters_users_path, :remote => true, :method => :get do |f| %>
<div class="modal-header">
  <h4 class="modal-title"> Filtro por Usuario </h4>
  <button type="button" class="close close_quick_filters" ><span>&times;</span></button>
</div>
  <div class="modal-body" style="max-height: 60vh; overflow-y: auto;">
    <%=select_tag 'q[user_filter]', raw("<option>app_usuario</option>") , class: "d-none" %>
    <div>
      <div class="custom-control custom-radio d-inline">
        <input type="hidden">
        <input type="radio" id="radio_all" name="radio_user_filter" class="custom-control-input check_input_users" checked="false">
        <label class="string optional control-label custom-control-label" for="radio_all"></label>
        <h6 class="d-inline value_input_users">Sin Filtro</h6>
      </div>
    </div>
    <div class="quick_filters_div">
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary close_quick_filters" >Cancelar</button>
    <%= submit_tag :enviar, id: "quick_filter_users", class: "envf btn btn-primary close_quick_filters close_all_filters", value: 'Aplicar' %>
  </div>
<% end %>

<script>
  $(document).ready(function(){
  $.ajax({
    url:  "/projects/search_users.json",
    type: "GET",
    data: { project_type_id: <%= params[:project_type_id] %> },
    success: function(data){
        let parent_div=$('.quick_filters_div').parent();
        $('.quick_filters_div').remove();
        
        let $quick_filters_div = document.createElement('DIV');
        $quick_filters_div.className = 'quick_filters_div';
        // revisa qué opción esté filtrada
        var ar= Navarra.project_types.config.attribute_filters
        var status_filters_active = $(".message[id*="+'app_usuario '+"]");
        if(status_filters_active.length==0){
          status_filters_active_text = "Sin Filtro";
          document.getElementById('radio_all').checked=true;
        } else {
          status_filters_active_text = status_filters_active.first().attr('id')
          .split('|')[2].replace(/[\']/g,"");
        }
        $.each(data['data'], function(value, a){
          let container = document.createElement("DIV");
            let opt_check= document.createElement("DIV");
            opt_check.className="custom-control custom-radio d-inline mr-1";
            let opt_check_input1= document.createElement("INPUT");
              opt_check_input1.type="hidden";
              opt_check.append(opt_check_input1)
              let opt_check_input= document.createElement("INPUT");
              opt_check_input.className="custom-control-input check_input_users";
              opt_check_input.type="radio";
              opt_check_input.id='checkbox'+`${a.name}`;
              opt_check_input.name="radio_user_filter";
              if(status_filters_active_text==a.name){
                opt_check_input.checked=true;             
              }
              opt_check.append(opt_check_input)
              let opt_check_label= document.createElement("LABEL");
              opt_check_label.className="string optional control-label custom-control-label";
              opt_check_label.htmlFor='checkbox'+`${a.name}`;
              opt_check.append(opt_check_label)
            container.append(opt_check);

            let opt = document.createElement("h6");
            opt.className='d-inline value_input_users';
            opt.innerHTML = `${a.name}`;  
            container.append(opt);
          $quick_filters_div.append(container);
        })
        parent_div.append($quick_filters_div);        
    }
  });

})
</script>
