<div id="share-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> Compartir Proyecto </h4>
      </div>
      <div class="modal-body">

        <%= form_tag create_share_path(project_type_id: @project_type), :remote => true, :method => :get   do |f| %>
          <div class="form-row col-md-12">
            <div class="col-md-5">
            <%= select_tag :user_ids, options_for_select(users_for_select_share_projects), include_blank: true, multiple: true, class: 'form-control', :style => 'width: 100%; min-height: 200px;' %>
            </div>
            <div class="col-md-5">
            <%= select_tag :unshare_user_ids, options_for_select(users_for_select_unshare_projects), include_blank: true, multiple: true, class: 'form-control', :style => 'width: 100%; min-height: 200px;' %>
            </div>
            <div class="col-md-2">
              <%= submit_tag :share, class:"btn btn-primary", value: "Enviar" %>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
