<div class="card m-2 shadow">
  <div class="card-body">
    <div class="row justify-content-center">
      <h2 class="m-0">Editar <%= @project_type.name %></h2>
    </div>
  </div>
</div>

<%= render 'form', project_type: @project_type %>
