<%- model_class = ProjectType -%>

<div class="card m-2 shadow">
  <div class="card-body">
    <div class="row justify-content-center">
      <h2 class="m-0">Nuevo Proyecto</h2>
    </div>
  </div>
</div>

<%= render partial: 'form' %>
