<%- model_class = ProjectType -%>
<div class="col-md-12">
  <div class="page-title">
    <div class="title_left">
      <h1>Nuevo Proyecto</h1><br>
    </div>
  </div>
</div>

<%= render partial: 'form'%>
