<div class="form-group col-md-12">
  <div class="col-md-1 text-right">
    <%= f.label :name, 'Item' %>
  </div>
  <div class="col-md-3">
    <%= f.input :name, label: false, input_html: {class: 'form-control'}%>
  </div>
</div>
