<%- model_class = PoiAddressLoad -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<div class="row-fluid">
  <div class="well span5">
    <h4><%= t("views.poi_load.form.pois_upload_explanation_title") %></h4>
  	<%= t("views.poi_load.form.pois_upload_explanation", :link => download_xls_example_poi_loads_path).html_safe %>
  </div>
</div>


<%= render 'form' %>

