.App {
font-size: 18px;
font-family: Arial;
}

.App-logo {
  margin: 50px 0px 0px 50px;
  height: 200px;
}

.Titulo1 {
  font-size: 4em;
  margin: 20px 0px 0px 250px;
}
.Titulo2 {
  font-size: 3em;
  font-weight: lighter;
  margin: 0px 0px 10px 250px;
}
.Titulo3 {
  color: rgb(226,19,19);
  font-size: 4em;
  margin: 20px 0px 0px 250px;
}
.Titulo4 {
  font-size: 4em;
  font-weight: lighter;
  margin: 0px 0px 10px 250px;
}
.Titulo5 {
  font-size: 2.5em;
  margin: 20px 0px 50px 50px;
  display: inline-block;
}
.Titulo6 {
  font-size: 2.5em;
  margin: 20px 0px 0px 20px;
  display: inline-block;
  font-weight: lighter;
}
.Contenedor{
  text-align: center;
  width: 100%;
}
.Grafico {
  width: 450px;
  display: inline-block;
}
.Grafico1 {
  width: 650px;
  display: inline-block;
}
.DivComentario {
  width: 450px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
.DivComentario1 {
  width: 90%;
  display: block;
  margin-left: 5%;
}
.Comentario {
  width: 85%;
  height: 25px;
  border: none;
  font-family: Arial;
  font-size: 1.1em;
  line-height: 22px;
  vertical-align: top;
  color: rgb(80,80,80);
  margin: 0px 0px 0px 0px;
}
.Bullet{
  list-style-type: none;
}
.Bullet1{
  width: 10px;
  height: 10px;
  background-color: rgb(80,80,80);
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  margin: 10px 10px 0px 0px;
  visibility: hidden;
}
.Bullet2{
  width: 10px;
  height: 10px;
  background-color: rgb(144,161,181);
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  margin: 10px 10px 0px 0px;
  visibility: hidden;
}
.Comentario::-webkit-input-placeholder {
  text-align: center;
  opacity: 0.5;
}
.DivTabla{
 text-align: center;
}
.Tabla{
  border-collapse: collapse;
  margin: 0 auto;
  text-align: left;
}
.Celda {
  border: dotted 2px rgb(80,80,80);
  padding: 10px;
}
.SaltoDePagina {
  height: 300px;
}
@media print{
  .SaltoDePagina{
  display:block;
  page-break-before:always;
  }
}