<%= simple_form_for(resource,
  :as => resource_name,
  :url => session_path(resource_name),
  :html => { :class => 'form-horizontal'}) do |f| %>

  <%= f.input :email, label: false, placeholder: "Email",  required: false, autofocus: true, input_html: {class: "login_input"} %>
  <%= f.input :password, label: false, placeholder: "Password", input_html: {class: "login_input"} %>

  <% if devise_mapping.rememberable? -%>
    <% f.input :remember_me, as: :boolean, input_html: { checked: "checked" }  %>
  <% end -%>

  <div class="form-actions ">
    <%= f.button :submit, "Entrar", class: 'login_button' %>
  </div>
<% end %>

