<div id="pointsModal" class="modal">
  <div class="modal-number-points-content">
    <div style="height: 15px;">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close_modal_points">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div>
      <h5>Puntos a crear:</h5>
      <input type="number" id="numberInput">
    </div>
    <br>
    <div>
      <button type="button" class="btn btn-primary p-0" onclick="do_number_points_modal()" style="width: 99px">Confirmar</button>
    </div>
  </div>
</div>
