<script type="text/javascript">
  $(document).ready(function () {
    Navarra.geomaps.delete_markers();
    $('#close_info').click(function(){
      $('#routes_container').show();
      $('#search_streets_container').show();
      $('table tbody tr').removeClass('found');
      Navarra.project_types.config.data_dashboard="";
      Navarra.project_types.config.item_selected="";
      Navarra.geomaps.current_layer();
    });
    // función al cerrar modal de info del registro
    $('#info-modal').on('hidden.bs.modal', function (e)  {
      $('#confirmation_geometry_button').removeClass('confirmation_geometry_button_new');
      $('#confirmation_geometry_button').removeClass('confirmation_geometry_button_edit');
      Navarra.geomaps.delete_markers();
      //muestra otros modales
      if(!$('#navbarDropdown_container').hasClass("is_open")){
        $('.leaflet-top.leaflet-right').removeClass('side_hidden');
        $('.sidebar').removeClass('side_hidden');
        $(".table_data_container").removeClass("width_table");
      }
    });
    //ajusta tamaño y posición del modal de info del registro
    var postop = ($('#nav_bar').innerHeight() -1)+'px';
    $('#info-modal').css('top',postop);
    $('#info-modal').on('shown.bs.modal', function (e)  {
      $('#routes_container').hide();
      $('#search_streets_container').hide();

      const isModalVisible = $('#customLayerModal').hasClass('show');
      const isTenantSCM = Navarra.dashboards.config.current_tenant === 'scm';

      const navBarHeight = $('#nav_bar').innerHeight()
      const infoModalHeaderHeight = $('#info-modal-header').innerHeight()
      const infoModalFooterHeight = $('#info-modal-footer').innerHeight()
      const customLayerWidth = $('#customLayerModal').outerWidth(); 

      if (isModalVisible && isTenantSCM) {
        const left_modal = customLayerWidth + 2 + 'px';
        const width_modal = (window.innerWidth - customLayerWidth - 2) + 'px';

        $('#info-modal').css({
          left: left_modal,
          width: width_modal,
          backgroundColor: 'rgba(39, 43, 48, 0.9)',
          position: 'absolute'
        });
      } else if (isTenantSCM) {
        $('#info-modal').css({
          width: '77%',
          marginLeft: '23.2%',
          backgroundColor: 'rgba(39, 43, 48, 0.9)'
        });
      } else {
        $('#info-modal').css({
          width: '35%',
          marginLeft: '65%',
        });
      }

      var height_modal = ( window.innerHeight - navBarHeight - infoModalHeaderHeight - infoModalFooterHeight -2) +'px';
      $('#modal_info').css('height', height_modal);

      //esconde otros modales
      $('.leaflet-top.leaflet-right').addClass('side_hidden');
      $('.sidebar').addClass('side_hidden');
      $(".table_data_container").addClass("width_table");
    });
  });
  var can_edit_yes;
  var can_edit_subforms_yes;
  var can_edit_status_yes;

  function close_alert(){
      $('#alert_message').removeClass('show');
      $('#alert_message').addClass('d-none');
  };

  var can_edit_yes;
  var can_edit_subforms_yes;
  var can_edit_status_yes;

  function show_confirmation(div_confirmation){
    if(!Navarra.dashboards.config.has_field_errors){
      if(div_confirmation=="history"){
        return;
      }

      disabled_fields();
      $('.div_confirmation').addClass("d-none");
      $('.div_confirmation').removeClass("d-inline");
      $('#'+div_confirmation).addClass("d-inline");
      $('#'+div_confirmation).removeClass("d-none");
      $('#photo_label').removeClass("d-none");

      var photos_child = document.querySelectorAll('#photo_child_label');
      photos_child.forEach(function (element) {
        element.classList.remove("d-none");
      });

      if(div_confirmation=='edit_confirmation'){
        can_edit_yes = $('#can_edit_yes').val();
        can_edit_subforms_yes = $('#can_edit_subforms_yes').val();
        can_edit_status_yes = $('#can_edit_status_yes').val();

        if(can_edit_yes == 1 && can_edit_subforms_yes == 0 && can_edit_status_yes == 0){
          var field_to_edit = $('.info_input_disabled').not('.readonly_field').not('.is_child_field').not('.input_status');
        }
        if(can_edit_yes == 1 && can_edit_subforms_yes == 1 && can_edit_status_yes == 0){
          var field_to_edit = $('.info_input_disabled').not('.readonly_field').not('.input_status');;
        }
        if(can_edit_yes == 1 && can_edit_subforms_yes == 1 && can_edit_status_yes == 1){
          var field_to_edit = $('.info_input_disabled').not('.readonly_field');
        }
        if(can_edit_yes == 1 && can_edit_subforms_yes == 0 && can_edit_status_yes == 1){
          var field_to_edit = $('.info_input_disabled').not('.readonly_field').not('.is_child_field');
        }

        if(can_edit_yes == 0 && can_edit_subforms_yes == 1 && can_edit_status_yes == 0){
          var field_to_edit = $('.is_child_field').not('.readonly_field');
        }
        if(can_edit_yes == 0 && can_edit_subforms_yes == 1 && can_edit_status_yes == 1){
          var field_to_edit = $('.input_status , .is_child_field').not('.readonly_field');
        }
        if(can_edit_yes == 0 && can_edit_subforms_yes == 0 && can_edit_status_yes == 1){
          var field_to_edit = $('.input_status').not('.readonly_field');
        }

        field_to_edit.removeClass('disabled');
        field_to_edit.addClass('info_input');
        field_to_edit.prop('disabled', false);
        field_to_edit.removeClass('info_input_disabled');
        if(can_edit_yes ==1 || can_edit_subforms_yes==1){
          // muestra campos vacíos que no están dentro de un subtitulo y le quita la propiedad vacío
          $('.empty_field').not('.hidden_field').not('.is_child_field').not(("div[class*='subtile_hidden']")).removeClass('d-none');
          $('.empty_field').not('.hidden_field').not('.is_child_field').removeClass('empty_field');
          //muestra campos ocultos en subtítulos
          // $("div[class*='subtile_hidden']").not('.hidden_field').removeClass('d-none');
      }
        //muestra campos subformularios aunque estén vacíos
        $('.div_subforms').removeClass('d-none');
        // muestra ícono add si tiene autorización para crear nuevos subformularios
        //!!!!!! Cambiar a nueva autorización
        if(can_edit_yes ==1){
          $('.add_subforms').removeClass('d-none');
        }
        textarea_adjust_height();
        set_script_all();
        calculate_all(true,true);
        calculate_all(true,false);
      }

      if(div_confirmation=='owner_confirmation'){
        // trae opciones de usuarios
        var project_type_id = Navarra.dashboards.config.project_type_id;
        $.ajax({
          url:  "/projects/search_users.json",
          type: "GET",
          data: { project_type_id: project_type_id},
          success: function(data){
            $('#owner_change_select').empty();
            $.each(data['data'], function(value, a){
              if(`${a.active}`=='true'){
                let opt_check= document.createElement("OPTION");
                opt_check.text = `${a.name}`;
                opt_check.value = `${a.id}`;
                $('#owner_change_select').append(opt_check);
              }
            });
            $('#owner_change_select').multiselect({
                  maxHeight: 800,
                  buttonClass: 'text-left mb-1 form-control form-control-sm',
                  buttonWidth: '50%',
                  nonSelectedText: 'Seleccionar',
                  selectedClass: 'selected_multiple_item',
                  delimiterText: '\n',
                  numberDisplayed: 0,
                  allSelectedText: false,
                  enableFiltering: true,
                  enableCaseInsensitiveFiltering: true,
                  filterPlaceholder: 'Buscar',
                  includeFilterClearBtn: false,
                  includeSelectAllOption: false,
                  dropRight: true,
                });
          }
        });
      }
    }
  }

  function save_info(option_save){
    if(Navarra.dashboards.config.current_tenant == 'scm'){
      $('#text_toast').html("Este proceso puede tardar unos minutos.<br> ESPERE A QUE SE ABRAN LOS DATOS");
      $('#toast').toast('show');
      $(".fakeLoader").css("display", "block");
    }
    disabled_fields();
    $('.div_confirmation').addClass("d-none");
    $('.div_confirmation').removeClass("d-inline");
    if(option_save=="edit_confirmation"){
      var edit_status = false;
      var edit_parents = false;
      var edit_childs = false;
      if(can_edit_yes==1){
        edit_parents = true;
      }
      if(can_edit_subforms_yes==1){
        edit_childs = true;
      }
      if(can_edit_status_yes==1){
        edit_status = true;
      }
       if(can_edit_yes==1 || can_edit_subforms_yes==1 || can_edit_status_yes==1){
        edit_file(edit_parents, edit_childs, edit_status);
      }

    }
    if(option_save=="owner_confirmation"){
      change_owner();
    }
    if(option_save=="disable_confirmation"){
      disable_file();
    }
    if(option_save=="delete_confirmation"){
      delete_file();
    }
  }
  function disabled_fields(){
    $('.info_input').addClass('info_input_disabled');
    $('.info_input').prop('disabled', true);
    $('.info_input').removeClass('info_input');
  }
</script>

<% if can? :data, :visualizer %>
  <div id="info-modal" class="modal fade" aria-modal="true" data-backdrop=false>
    <div class="modal-dialog mt-0" id="modal-info_left" style="max-width: none; margin-bottom: 0px;">
      <div class="modal-content">
        <div class="modal-header pt-2 pb-2" id="info-modal-header">
          <h6 class="modal-title" id="info_title"></h6>
          <% if can? :funcionalities, :hide_items %>
            <i class="fas fa-eye-slash" style="margin-top: 0.25rem; position: absolute;right: 2.8rem;cursor:pointer" title="Mostrar/Esconder Campos Ocultos" onclick="show_hidden_fields()"></i>
          <% end %>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close_info"><span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modal_info" style="overflow-y: auto;">
          <div id="info_body"></div>
        </div>
        <div class="modal-footer" id="info-modal-footer" style="flex-wrap: nowrap;">
          <div class="d-none text-left div_confirmation" id="info_messages" style="width: 65%;">
          </div>
          <div class="d-none text-left div_confirmation" id="edit_confirmation" style="width: 65%;">
            <p class="m-0 d-inline">Guardar Cambios?</p>
            <button type="button" class="btn btn-primary p-0" onclick="save_info('edit_confirmation')" style="width: 35px">SI</button>
            <button type="button" class="btn btn-secondary p-0" data-dismiss="modal" style="width: 35px">NO</button>
          </div>
          <div class="d-none text-left div_confirmation" id="edit_confirmation_child" style="width: 65%;">
            <p class="m-0 d-inline">Guardar Cambios?</p>
            <button type="button" class="btn btn-primary p-0" onclick="save_info('edit_confirmation_child')" style="width: 35px">SI</button>
            <button type="button" class="btn btn-secondary p-0" data-dismiss="modal" style="width: 35px">NO</button>
          </div>
          <div class="d-none text-left div_confirmation" id="owner_confirmation" style="width: 65%;">
            <select class="form-control form-control-sm d-inline p-0" id="owner_change_select" style="width: 68%">
            </select>
            <button type="button" class="btn btn-primary p-0" onclick="save_info('owner_confirmation')" style="width: 35px">SI</button>
            <button type="button" class="btn btn-secondary p-0" data-dismiss="modal" style="width: 35px">NO</button>
          </div>
          <div class="d-none text-left div_confirmation" id="disable_confirmation" style="width: 65%;">
            <p class="m-0 d-inline" id="enabled_text">Desactivar Registro?</p>
            <button type="button" class="btn btn-primary p-0" onclick="save_info('disable_confirmation')" style="width: 35px">SI</button>
            <button type="button" class="btn btn-secondary p-0" data-dismiss="modal" style="width: 35px">NO</button>
          </div>
          <div class="d-none text-left div_confirmation" id="delete_confirmation" style="width: 65%;">
            <p class="m-0 d-inline">Eliminar Registro?</p>
            <button type="button" class="btn btn-primary p-0" onclick="save_info('delete_confirmation')" style="width: 35px">SI</button>
            <button type="button" class="btn btn-secondary p-0" data-dismiss="modal" style="width: 35px">NO</button>
          </div>
          <div class="d-none text-left div_confirmation" id="history" style="width: 65%;">
          </div>
          <div class="d-inline text-right" style="width: 30%;">
            <% if (can? :data, :edit) || (can? :data, :edit_subforms) || (can? :data, :edit_status) %>
              <% if can? :data, :edit %>
                <input class="d-none" id="can_edit_yes" value="1" >
              <% else %>
                <input class="d-none" id="can_edit_yes" value="0">
              <% end %>
              <% if can? :data, :edit_subforms %>
                <input class="d-none" id="can_edit_subforms_yes" value="1" >
              <% else %>
                <input class="d-none" id="can_edit_subforms_yes" value="0">
              <% end %>
              <% if can? :data, :edit_status %>
                <input class="d-none" id="can_edit_status_yes" value="1" >
              <% else %>
                <input class="d-none" id="can_edit_status_yes" value="0">
              <% end %>
              <i class="fas fa-edit" id="show_confirmation_button" style="cursor: pointer;" title="Editar" onclick="show_confirmation('edit_confirmation')"></i>
            <% end %>
            <% if can? :data, :edit_owner %>
              <i class="fas fa-user-edit" style="cursor: pointer;" title="Cambiar Propietario" onclick="show_confirmation('owner_confirmation')"></i>
            <% end %>
            <% if can? :data, :disable %>
              <i class="fas fa-archive" style="cursor: pointer;" id="archive_icon" title="Activar/Desactivar" onclick="show_confirmation('disable_confirmation')"></i>
            <% end %>
            <% if can? :data, :destroy %>
              <i class="fas fa-trash" style="cursor: pointer;" title="Eliminar" onclick="show_confirmation('delete_confirmation')"></i>
            <% end %>
            <i class="fas fa-history" style="cursor: pointer;" title="Próximamente" onclick="show_confirmation('history')"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
