<div id="createEditGeometries" class="modal">
  <div class="edit_create_modal">
    <div style="height: 15px;">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="close_register_modal()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div>
      <h5>Seleccionar Acción</h5>
      <button id="editRegisterButton" onclick="handleEdit(app_id_popup)" class="handleRegister">
        <i class="fas fa-edit"></i> Editar
      </button>
      <button id="createRegisterButton" onclick="handleCreate(app_id_popup)" class="handleRegister">
        <i class="fas fa-plus-circle"></i> Crear
      </button>
    </div>
  </div>
</div>