<div id="savePointsModal" class="modal">
  <div class="save-modal-multipoints-content">
    <div>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close_modal_multipoints">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <br>
    <div>
      <h5>Ingrese la capa donde desea guardar los puntos</h5>
      <%= select_tag 'selected_multipoint_project', options_for_select(ProjectType.where(type_geometry: 'Point').pluck(:name)), class: 'form-control', :style => 'width: 90%' %>
    </div>
    <br>
    <div>
      <button type="button" class="btn btn-primary p-0" onclick="desdes()" style="width: 99px">Confirmar</button>
    </div>
  </div>
</div>
