<% unless @parkings.nil? or @parkings.empty? %>
	<div class="row-fluid">
		<div class="span12 alert alert-info">
			<span><h3><%= t("views.poi.form.possible_duplicates.title") %></h3></span>
			<ul>
				<% @parkings.each do |parking| %>
					<li><%= link_to parking.name, edit_parking_path(parking) %> ()</li>
				<% end %>
			</ul>
	  </div>
	</div>
<% end %>
