<table class="table">

  <tr>
    <th>Id</th>  
    <th>Nombre</th>  
    <th>Calle</th>  
  </tr>

<% @a.each do |a| %>
<tr>
  <td> <%= a.id %> </td>
  <td> <%= a.name %> </td>
  <td> <%= a.street %> </td>
</tr>

<% end%>


  
</table>

