html,
body {
  height: 100%;
}

#map {
  width: 100%;
  height: 91vh;
}
.sidebar {
  width: 100%;
  left:0%;
  position: relative;
  z-index: 401;
  background-color: rgba(0, 0, 0, 0.2);
  transition:0.7s;
  overflow-y:hidden;
  padding-top:0px!important;
}
.graphics {
  overflow-y: auto;
  transition: 1s;
}

.fas:hover {
  color: #d3d800 !important;
}
.fas {
  color: #9b9b9b;
}

.unselectable {
  pointer-events: none;
  opacity: 0.6;
}

/* Login */
.login {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.form-signin {
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Paginaci칩n */
.pagination {
    font-size: 12px;
}
.pagination > * {
    margin-right: 0.1em;
    padding: 0.3em 0.4em;
}
.pagination a {
    color: #e8ebef;
}
.pagination a:hover {
    background: #BFC400 none repeat scroll 0 0;
    text-shadow: 1px 1px 1px #d3d800;
    color: #000;
}
.pagination a:active {
    text-shadow: none;
    color: #000;
}
.pagination .current {
    background: #BFC400 none repeat scroll 0 0;
    color: #000;
    text-shadow: 1px 1px 1px #d3d800;
}
.pagination .disabled {
    color: #798088;
}


/* Dropdowns de navbar */
div.custom-menu.show {
  min-width: unset;
  width: 50px;
  z-index: 402;
}
.custom-item {
  text-align: center !important;
  height: 40px;
  padding: 0.6rem !important;
}
.item-submenu {
  width: 80% !important;
  margin-right: 10%;
  margin-left: 10%;
}
.nav-link-width {
  width: 50px;
  text-align: center;
}
.nocaret::after {
  display:none !important;
}
#projects_dropdown {
  max-width: 10vw;
  overflow: hidden;
  text-overflow: ellipsis;
}
#projects_menu {
  max-width: 20vw;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
#current_project_menu {
  min-width: auto;
}

/* Bot칩n para extender el sidebar */
.view-data-container {
  float: right;
  padding: 1px 10px;

}
.view-data {
  cursor: pointer;
  font-size: 12px;
  color: #e9ecef;
  margin: 0px 2px;
  color: #9b9b9b;
}

/* Gr치ficos */
.handle {
  border: transparent !important;
  padding: 4px;
  margin-right: 5px;
  background-color: transparent;
  cursor: move;
}
.chart-header-bg-transparent {
  background-color: rgba(81, 89, 96, 0.4);
}
.chart-bg-transparent {
  background-color: rgba(58, 63, 68, 0.4);
}
.chart-bg-none {
  background: none;
}


/* Indicadores de texto */
.tile_count {
  margin-bottom: 10px;
  margin-top: 10px
}
.tile_count .tile_stats_count {
  padding: 0 10px 0 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative
}
.tile_count .tile_stats_count:before {
  content: "";
  position: absolute;
  left: 0;
  height: 65px;
  border-left: 1px solid #798088;
}
.tile_count .tile_stats_count .count {
  font-size: 28px;
  line-height: 18px;
  font-weight: 600
}
.tile_count .tile_stats_count span {
  font-size: 11px;
  line-height: 13px;
}

/* Personaliza colores del custom switch en Roles */
.custom-switch .custom-control-input:checked~.custom-role-colour::after {
  background-color: #d3d800;
}
.custom-switch .custom-role-colour::after {
  background-color: #798088;
}
.custom-control-input:checked~.custom-role-colour::before {
  border-color: #e8ebef;
  background-color: #2c2e34;
}
.custom-role-colour::before {
  background-color: #3d4046;
}

/* Modifica el estilo del layerControl de Leaflet*/
.leaflet-control-layers-expanded {
  color: #e8ebef !important;
  text-shadow: 1px 1px 1px #2c2e34;
  max-height: 45vh !important;
  overflow: auto;
}
.leaflet-control-layers-base , .leaflet-control-layers-overlays, .leaflet-control-layers-separator{
  display:none;
}
.leaflet-control-layers-toggle{
  display:block!important;
}
.leaflet-control-layers {
  background-color: rgba(58, 63, 68, 0.5) !important;
}
.leaflet-control-layers-toggle {
	background-image: url(asset_path("leaflet/layers.png")) !important;
  width:31px!important;
  height:31px!important;
}

/* Modifica el estilo del toolbar de Leaflet */
.leaflet-draw-toolbar a {
	background-image: url(asset_path("leaflet/spritesheet.png")) !important;
	background-repeat: no-repeat;
}
.leaflet-draw-toolbar a:hover {
	background-image: url(asset_path("leaflet/spritesheet-hover.png")) !important;
	background-repeat: no-repeat;
}
.leaflet-draw-draw-polygon,
.leaflet-draw-draw-rectangle,
.leaflet-draw-draw-circle,
.leaflet-draw-draw-marker,
.leaflet-draw-edit-edit,
.leaflet-draw-edit-remove {
  background-color: rgba(58, 63, 68, 0.5) !important;
}
/*Modifica el comportamiento de los botones del draw en el toolbar de Leaflet */
.leaflet-draw-edit-remove ,  .leaflet-draw-actions {
  display:none!important;
}

.confirmation_geometry , .confirmation_success_geometry{
  background-color: rgba(58, 63, 68, 0.5);
  color:white;
  padding:10px;
  border-radius: 5px;
  position:absolute;
  top: 5vh;
  left: -90px;
  text-align:center;
}
.close-leaflet{
  cursor:pointer;
  float:right;
  color:white;
}

/* Modifica el estilo del zoom de Leaflet*/
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  background-color: rgba(58, 63, 68, 0.5) !important;
  color: #e8ebef !important;
  text-shadow: 1px 1px 1px #2c2e34;
}
.leaflet-control-zoom-in:hover,
.leaflet-control-zoom-out:hover {
  color: #d3d800 !important;
}
.leaflet-top .leaflet-control , .leaflet-draw-section , .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar , .leaflet-top  {
  display:inline-flex;
  flex-direction: row;
  border: none !important;
}

.leaflet-bar a:first-child , .leaflet-bar a:last-child , .leaflet-bar a,  {
  border-radius:5px!important;
    margin: 1px!important;
}
.leaflet-draw-toolbar{
  margin: 0px!important;
}


/*Elimina la marca*/
.leaflet-control-attribution a{
  display:none!important;
}
.leaflet-container .leaflet-control-attribution{
  display:none !important;
}
/* Modifica el estilo de la escala de Leaflet*/
.leaflet-control-scale-line {
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid !important;
  border-radius: 2px;
}
.leaflet-control-scale {
  border-radius: 2px;
}

/* Modifica el estilo de las leyendas de Leaflet */
.leaflet-html-legend {
  /*border: 2px solid rgba(0, 0, 0, 0.2) !important;*/
  /*border-radius: 5px !important;*/
  background: rgba(58, 63, 68, 0.5) !important;
  padding: 4px !important;
  line-height: 1 !important;
  width: 180px !important;
}
.leaflet-html-legend label {
  color: #e8ebef !important;
  text-shadow: 1px 1px 1px #2c2e34;
}

/* Modifica el estilo del popup de Leaflet */
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  border: 2px solid rgba(0, 0, 0, 0.2);
  background: rgba(58, 63, 68, 0.7) !important;
  color: #FFFFFF !important;
  text-shadow: 1px 1px 1px #2c2e34;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4) !important;
  border-radius: 4px !important;
  padding:8px 8px 0px 8px!important;
}
.leaflet-container a.leaflet-popup-close-button {
  color: #FFFFFF !important;
  text-shadow: 1px 1px 1px #2c2e34;
  top: 6px !important;
  right: 6px !important;
  font-size:2em !important;
}
.leaflet-popup-content {
  max-width:300px;
  margin:0px!important;
}

.info_icon{
  font-size: 1.5em;
  color: white;
  margin-left: 90%;
  margin-top: 5px;
  margin-bottom:5px;
  cursor:pointer;
}

/*Modifica el popup de los Labels */
.custom_label .leaflet-popup-content-wrapper{
  padding:0px!important;
  background: transparent !important;
  border: none;
  box-shadow:none!important;
}
.custom_label  .leaflet-popup-content{
  line-height: 0.2em;
  background: transparent;
  color: black!important;
  text-shadow: none;
  font-weight: bold;
  white-space: nowrap;
  margin-bottom: -5px!important;
}
.custom_label p{
  cursor:default!important;
  text-align:center!important;
  margin: 10px 0 !important;
}
.custom_label  .leaflet-popup-tip{
  background: transparent!important;
  box-shadow:none!important;
  border:none;
}

/* Evita los elementos de leaflet de la derecha se superpongan con el sidebar */
.leaflet-right {
  margin-right: 30%;
  transition:1s;
}

/* Modifica el scroll del navagador */
::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(232, 235, 239, 0.5);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(72, 75, 79, 0.5);
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: rgba(232, 235, 239, 0.5);
}

/* Modifica el padding de los checkbox de multiselect */
.multiselect-container>li>a>label {
  padding: 3px 10px 3px 10px !important;
}

/* Aplica scroll solo al tbody */
.table-tbody-scroll tbody {
  display: block;
  height: 0vh;
  overflow: auto;
}
.table-tbody-scroll thead, .table-tbody-scroll tbody tr {
  display: table;
  width: 100%;
}

/* Modifica el estilo del time_slider */
.irs-from ,.irs-to ,.irs-single {
  margin-top:5px;
}
.irs--flat .irs-grid-text { /* texto */
  color: #e8ebef !important;
 // text-shadow: 1px 1px 1px #2c2e34;
}
.irs--flat .irs-grid-pol { /* regla */
  background-color: #e8ebefCC !important;
}
.irs--flat .irs-line { /* barra fondo */
  background-color: #e8ebefCC !important;
}
.irs--flat .irs-min, .irs--flat .irs-max { /* label fondo */
  color: #798088 !important;
  background-color: #e8ebefCC !important;
  margin-top:5px;
}
.time-slider-inactive{
  background-color: #272B3099 !important;
}
.time-slider-inactive:before{
  border-top-color: #272B3099 !important;
}
.time-slider-active{
  background-color: #d3d800 !important;
  color: #484b4f !important;
}
.time-slider-active:before{
  border-top-color: #d3d800 !important;
}

/*custom checkbox and radio*/
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color:#d3d800;
}
.custom-radio .custom-control-input:checked~.custom-control-label::before{
  background-color:#d3d800;
}
.img-project{
  width:10%; height: 56px;background-position: 100% 50%; background-size: contain;background-repeat: no-repeat; position: absolute; margin-top: -18px; left: 89%; transition:1s; z-index:300
}
.img-project:hover{
  width:60%; height: 60vh; left: 39%;
}
.field_with_errors {
    display: inline-block;
    color: red;
    white-space: nowrap;
}
.active_page {
  border-bottom:solid 1px white;
}
.page_data{
  cursor:pointer;
}
.square_status{
  width:15px;
  height:15px;
  display:inline-block;
  vertical-align:middle;
  margin: 0px 10px;
  border: solid 1px;
}
.custom_row{
  line-height: normal;
  padding: 2px !important; 
  vertical-align: middle !important;
}
.project_data_div{
  border-top: solid 2px transparent;
}

/*estilo para tabla de datos */
.header_column{
  height: 8vh; 
  padding-top: 0px!important; 
  vertical-align: top!important; 
  min-width: 100px; 
  cursor:  pointer;
}
.icons{
  color: inherit!important;
  display: inline-block;
  width: auto;
  padding: 0px 2px;
}
.icons:hover{
  background: none;
}
.found {
  background: #d3d80080!important;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no_scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no_scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.scroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}


/* estilo para tabla reporte */
.modal-report{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: none;
}
.icons_report_container{
  position:relative;
  text-align: right;
  margin: 0px 0px -4px 0px;
}
.icons_report{
  margin: 0px -15px 0px 5px;
}
.report_row{
  padding: 0.5vh 15px !important; 
  vertical-align: middle;
}
.custom_drop_down{
  position:fixed !important;
  top: 10vh !important;
  left: 80% !important;
  width:20%;
  transform: none!important;
  max-height: 80vh; 
  overflow-y: auto !important;
}

/* estilo para popup info registro */
.info_input{
  height:auto !important;
  line-height:1 !important;
  resize: none;
  overflow: hidden;
  appearance: menulist;
  margin-bottom:5px;
}
.info_input_disabled{
  background: none!important;
  border: none!important;
  color: #aaa!important;
  resize: none;
  overflow: hidden;
  height: 25px!important;
  appearance: none;
}
.photo_div_info{
  width:23%;
  margin: 0px 1% 5px 1%;
  display:inline-block;
  vertical-align:top;
}
.photo_div_info_extended{
  width:100%;
  background:rgba(0,0,0,0.8);
  margin: 0px;
  padding: 10px 30%;
  top: 8vh;
  left: 0%;
  z-index:3000;
  height:92vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 2em;
}
.photo_info{
  width:100%;
  cursor:pointer;
}
.photo_description{
  margin: 0px;
  text-align: center;
  font-size: 0.8em;
  line-height:1em;
  margin: 5px;
}
.status_info_icon{
  width:20px;
  height:20px;
  border-radius:50%;
  margin-right:10px;
}

/* estilo multiselector de campos listados multiples */
.field_div .multiselect{
  overflow:visible!important;
  height: fit-content!important;
}
.field_div .multiselect-selected-text{
  white-space: pre-wrap!important;
}
.field_div .selected_multiple_item , .div_confirmation .selected_multiple_item{
  background:#d3d80080 !important;
  color:white!important;
  width: 100%;
}
.field_div .multiselect-container label input, .div_confirmation .multiselect-container label input  {
  display:none!important;
}
.field_div .multiselect-container label , .div_confirmation .multiselect-container label{
  width: 100%!important;
}
.field_div ul , .div_confirmation ul{
  padding: 5px 10px !important;
}
.field_div .dropdown-toggle::after , div_confirmation .dropdown-toggle::after {
  display:none !important;
}
.field_div .multiselect-container .disabled{
  opacity:0.2;
}
.input_status{
  font-size: 1.4em;
  vertical-align: text-top;
}
.ok_button ul:after{
  content:"OK";
  cursor: pointer;
  float: right;
  border: solid 1px;
  border-radius: 5px;
  padding: 5px 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8a9196), color-stop(60%, #7A8288), to(#70787d));
  background-image: linear-gradient(#8a9196, #7A8288 60%, #70787d);
  background-repeat: no-repeat;
  -webkit-filter: none;
  filter: none;
  border-color: rgba(0,0,0,0.6);
  color:white;
  margint-top:20px;
}

/* estilo multiselector de campos listados multiples */
.custom_dropdown_panels{
  top: 0vh;
  right: 100.5%;
}
/* registros ocultos por autorizaci칩n */
.canot_read{
  display: none!important;
}

/* texto dentro del popup */
.tittle_popup{
 font-weight:bold;
 font-size:1.3em;
 margin: 10px 0px 5px 0px!important; 
 border-bottom: solid 1px;
}
.p_popup{
  margin:0px!important;
  font-size:1.1em;
}

/* modal layer control */
.custom_dropdown_container{
  position: absolute;
  transform: translate3d(10px, 40px, 0px);
  top: 0px;
  left: 0px;
}

.custom_dropdown{
  position: static!important;
  transform: none !important;
  border:none!important;
  max-height: 60vh;
  overflow-y: auto;
}
