html,
body {
  height: 100%;
}

#map {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 93vh;
}
.graphics{
  height: 93vh;
  width: 30%;
  position: absolute;
  right: 0px;
  z-index: 401;
  background-color: rgba(23, 32, 42, 0.3);
  pointer-events: auto;
  overflow-y: scroll;
}
.right-column{
  padding-right: 0px;
}
.fas:hover {
  color: #d3d800 !important;
}
.fas {
  color: #9b9b9b;
}

.unselectable {
  cursor: not-allowed !important;
}

.login {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.form-signin {
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.pagination {
    font-size: 12px;
}
.pagination > * {
    margin-right: 0.1em;
    padding: 0.3em 0.4em;
}
.pagination a {
    color: #e8ebef;
}
.pagination a:hover {
    background: #BFC400 none repeat scroll 0 0;
    text-shadow: 1px 1px 1px #d3d800;
    color: #000;
}
.pagination a:active {
    text-shadow: none;
    color: #000;
}
.pagination .current {
    background: #BFC400 none repeat scroll 0 0;
    color: #000;
    text-shadow: 1px 1px 1px #d3d800;
}
.pagination .disabled {
    color: #798088;
}



.nocaret::after {
  display:none !important;
}
