html,
body {
  height: 100%;
}

#map {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 91vh;
}
.graphics{
  width: 30%;
  height: 91vh;
  position: absolute;
  right: 0px;
  z-index: 401;
  background-color: rgba(23, 32, 42, 0.3);
  pointer-events: auto;
  overflow-y: scroll;
}
.right-column{
  padding-right: 0px;
}
.fas:hover {
  color: #d3d800 !important;
}
.fas {
  color: #9b9b9b;
}

.unselectable {
  cursor: not-allowed !important;
}

.login {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.form-signin {
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.pagination {
    font-size: 12px;
}
.pagination > * {
    margin-right: 0.1em;
    padding: 0.3em 0.4em;
}
.pagination a {
    color: #e8ebef;
}
.pagination a:hover {
    background: #BFC400 none repeat scroll 0 0;
    text-shadow: 1px 1px 1px #d3d800;
    color: #000;
}
.pagination a:active {
    text-shadow: none;
    color: #000;
}
.pagination .current {
    background: #BFC400 none repeat scroll 0 0;
    color: #000;
    text-shadow: 1px 1px 1px #d3d800;
}
.pagination .disabled {
    color: #798088;
}



.nocaret::after {
  display:none !important;
}

div.custom-menu.show {
  min-width: unset;
  width: 50px;
  z-index: 402;
}
.custom-item {
  text-align: center !important;
  height: 40px;
  padding: 0.6rem !important;
}
.item-submenu {
  width: 80% !important;
  margin-right: 10%;
  margin-left: 10%;
}

.handle {
  padding: 4px;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: move;
}

.tile_count {
  margin-bottom: 10px;
  margin-top: 10px
}
.tile_count .tile_stats_count {
  padding: 0 10px 0 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative
}
.tile_count .tile_stats_count:before {
  content: "";
  position: absolute;
  left: 0;
  height: 65px;
  border-left: 1px solid #798088;
}
.tile_count .tile_stats_count .count {
  font-size: 28px;
  line-height: 30px;
  font-weight: 600
}
.tile_count .tile_stats_count span {
  font-size: 12px
}
.tile_count .tile_stats_count .count_bottom i {
  width: 12px
}

.custom-switch .custom-control-input:checked~.custom-role-colour::after {
  background-color: #42d964;
}
.custom-switch .custom-role-colour::after {
  background-color: #798088;
}
.custom-control-input:checked~.custom-role-colour::before {
  border-color: #e8ebef;
  background-color: #2c2e34;
}
.custom-role-colour::before {
  background-color: #3d4046;
}

.chart-bg-transparent {
  background-color: rgba(58, 63, 68, 0.5);
}

.leaflet-control-layers-expanded {
  background: rgba(58, 63, 68, 0.5) !important;
  color: #e8ebef !important;
}

.leaflet-control-layers-toggle {
  background: rgba(58, 63, 68, 0.5) !important;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  background: rgba(58, 63, 68, 0.5) !important;
  color: #e8ebef !important;
}

.leaflet-control-scale-line {
  background: rgba(58, 63, 68, 0.5) !important;
  color: #e8ebef !important;
}
