#poi-form .help-block {
  color: #666;
  font-size: 12px;
  font-style: italic;
  padding-left: 5px;
}

#poi-form #map-type {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.complete-status {
  color: green;
}

.pending-status {
  color: #FF9900;
}

.uncomplete-status {
  color: red;
}

.Revisado-status
{
  color: blue;
}

.the-table {
      table-layout: fixed;
          word-wrap: break-word;
        }
