<p>Welcome <%= @email %>!</p>
<p>Usuario: <%= @email %> </p>
<p>Contraseña: <%= @resource.password %> </p>

<p>You can confirm your account email through the link below:</p>
<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token, locale: I18n.locale.to_s, subdomain: Apartment::Tenant.current) %></p>
