<fieldset>
  <script type="text/javascript">
    console.log('dentro del partial');
  </script>
  <div class="row justify-content-center">
    <%= f.label 'Corporación', class:'col-md-4 text-right col-form-label' %>
    <div class="col-md-6">
      <%= f.input :customer_id, required: true, collection: customers_for_select, prompt: t('simple_form.select_item_prompt'), label: false, input_html: {class: 'form-control form-control-sm'}, selected: @user_customer.nil? ? '' : @user_customer.customer_id%>
    </div>
  </div>
  <div class="row justify-content-center">
    <label class="col-md-4 text-right col-form-label">Rol</label>
  <div class="col-md-6">
    <div id='search_roles'></div>
  </div>
  </div
  <div class="col-md-1">
    <%= link_to '#', class: "remove" do %><i class="fas fa-trash-alt" title="Eliminar corporación"></i><% end %>
  </div>
</fieldset>

<script type="text/javascript">
  $(document).ready(function() {
    // console.log('Dentro del script en el render');
    // console.log($('#user_customers_customer_id'));
    $('#user_customers_customer_id').on('change', function() {
      $.ajax({
        url:  "<%= admin_users_search_roles_path %>",
        type: "GET",
        data: { customer_id: $(this).val() },
      });
    });
  });
</script>
