<div class="modal-header">
  <h5 class="modal-title"> Nuevo Filtro </h5>
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<div class="modal-body">
  <div class="filters_select" id="projects_for_filters">

  </div>
</div>

<div class="modal-footer">
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")), admin_users_path, :class => 'btn btn-secondary mr-1' %>
  <%= button_tag 'Guardar', :id => 'save_filters', :class => 'btn btn-primary', value: 'Guardar', onclick: 'save_filter()' %>
</div>

<script type="text/javascript">
  // $('#modal_filter_user').on('show.bs.modal', function (e) {
  //   alert("Dentro del modal_filter_user")
  //   var clickedBtn = $(e.relatedTarget);
  //   console.log(clickedBtn);
  //   // write your code with clickedBtn
  // });

  console.log('Attributes');
  id_corporacion = $('[corp_id = 1]').val()
  console.log(id_corporacion);
  // console.log(projects);
  id_corporacion = $('.corp_id').val()
  console.log(id_corporacion);

  user_selected_id = $('#user_selected_id').html()
  console.log(user_selected_id);

  $.ajax({
    url:  "<%= admin_users_search_projects_path %>",
    type: "GET",
    data: { customer_id: id_corporacion },
    success: function(data) {
      console.log("Data");
      console.log(data);
      // $('#user_selected_id').html(data);
    }
  });

  function save_filter() {
    alert("Funcion save_filter")
    $.ajax({
      url:  "<%= admin_users_create_filters_path %>",
      type: "POST",
      data: { id_corporacion: id_corporacion, user_selected_id: user_selected_id },
      success: function(data) {
        console.log(data);
        // $(e.target).closest('.customer_container').find('.roles_container').html(roles);
      }
    });
  }
</script>
