<div class="offset-md-2 col-md-8">
  <div class="card m-2 shadow">
    <div class="card-body">
      <div class="row justify-content-center">
        <h1 class="m-0">Nuevo Usuario</h1>
      </div>
    </div>
  </div>
</div>

<%= render :partial => 'form' %>
