<div class="page-header row-fluid">
  <div class="span-10">
    <h1><%=t 'views.poi.duplicated.title' %></h1>
  </div>
  <div class="span-2" style="text-align: right;">
    <h4><%= t("views.poi.index.pois_count", :count => @pois.count) %></h4>
  </div>
</div>

<%= render :partial => "table" %>