<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render :partial => 'common/head' %>
  </head>
  <body class="login_image">
      <div>
          <%= flash_messages %>
        <div class="login_div">
          
          <%= yield %>
        </div>

    </div>
    <%= render :partial => 'common/footer' %>
  </body>
</html>
